:root {
  /* Primary */
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  /* Neutral */
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  --radius: 7px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--light-gray);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  width: 100vw;
  height: 100svh;
  font-family: "Karla", sans-serif;
  line-height: 1.5em;
}
main {
  margin-top: auto;
  display: grid;
  place-items: center;
  width: 80%;
  height: fit-content;
}
#container {
  margin-top: 2em;
  width: 100%;
  background: none;
  box-shadow: 0em 3em 50px -43px grey;
  border-radius: var(--radius);
}
.card {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 20em;
  padding: 2em;
}
.card:first-child {
  border-radius: var(--radius) var(--radius) 0 0;
}
.card:last-child {
  border-radius: 0 0 var(--radius) var(--radius);
}
#join {
  background-color: var(--light-gray);
}
#join .title {
  color: var(--grayish-blue);
}
#join .catch {
  color: var(--bright-yellow);
}
#join p {
  color: var(--grayish-blue);
}
#sub {
  background-color: var(--cyan);
}
#sub button {
  background-color: var(--bright-yellow);
  border-radius: var(--radius);
  border: none;
  height: 4em;
  font-family: inherit;
  font-weight: 700;
  box-shadow: 0.5em 1em 3em 0em grey;
}
#why {
  background-color: var(--grayish-blue);
}
.title,
.catch,
.desc {
  padding: 0.5em;
}
.title {
  font-weight: 700;
}
.desc {
  min-height: 5em;
  margin-bottom: auto;
  font-weight: 400;
}
#price {
  display: flex;
  height: 20%;
}
#price-text {
  align-self: center;
  opacity: 0.5;
}
#amount {
  font-size: 2rem;
}
button:hover {
  cursor: pointer;
}
footer {
  margin-top: auto;
  height: 1em;
  width: 100%;
  text-align: center;
  border: solid 1px red;
}
/* DESKTOP */
/* FIXME: Box chadoer alignment on mobile / Box shadow on desktop */
@media only screen and (min-width: 950px) {
  #container {
    display: grid;
    height: 80%;
    width: 60%;
    /* /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "join join"
      "subscribe why";
  }
  .card {
    width: 100%;
    height: 100%;
  }
  .card:last-child {
    border-radius: 0 0 var(--radius) 0;
  }
  .card:nth-last-child(2) {
    background-color: rgb(255, 0, 0);
    border-radius: 0 0 0 var(--radius);
  }
  #join {
    /* grid-column: 1 / -1;
    grid-row: 1 / 2; */
    grid-area: join;
  }
  #sub {
    /* grid-column: 1/2;
    grid-row: 2/3; */
    grid-area: subscribe;
  }
  #why {
    /* grid-column: 2/3;
    grid-row: 2/3; */
    grid-area: why;
  }
}
